.emoji {
  padding-left: 10px;
  display: block;
  float: left;
  font-weight: normal;
  font-family: "Apple Color Emoji";
}

.circle.clickable:hover {
  cursor: pointer;
}

/*.speedSlider {
  margin-bottom: 20px;
}*/